.header {
    display: flex;
    align-items: center;
    gap: 46px;
    background-color: #8ecae6;
    padding: 8px 16px 8px 16px;
    height: 48px;
}

.searchArea {
    width: 300px;
    margin-left: 312px;
}